<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Awesome Tech Blog</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header>
    <h1>Welcome to Awesome Tech Blog</h1>
    <nav>
        {{#if logged_in}}
        <a href="/">Home</a>
        <a href="/profile">Profile</a>
        <button class="no-button" id="logout">logout</button>
        {{else}}
        <a href="/">Home</a>
        <a href="/login">Login</a>
        {{/if}}
    </nav>
</header>

<main>
    {{{body}}}
</main>

<footer>
    <p>&copy; 2023 My Blog. All rights reserved.</p>
</footer>
<script src="/js/scripts.js"></script>
</body>
</html>
