<section>
    <h2>Latest Posts</h2>
    {{#each posts as |post|}}
        <article>
            <h3>{{post.title}}</h3>
            <p>{{post.content}}</p>
            <p>User: {{user.nickname}}</p>
            <a href="/blog/{{post.id}}">Read More</a>
        </article>
    {{/each}}
</section>

