<section>
    <h2>Latest Posts</h2>
    {{#if posts}}
        {{#each posts}}
            {{#if_less_than @index 8}}
                <article>
                    <h3>{{this.title}}</h3>
                    <p>{{dateFormat this.createdAt}}</p>
                    <a href="/post/{{this.id}}">Read More</a>
                </article>
            {{/if_less_than}}
        {{/each}}
    {{/if}}
</section>

